body{

font-family: 'Tourney', cursive;
margin: 0px;

}
h1{
    font-size: 60px;
}
h2{
    font-size: 30px;
    
}
.orange-color{
    color: orange;
}
.flexible-container{
    display:flex;
}
.half-width{
    width:50%;
    padding-left: 3%;
   

}
.half-width img{
 width:50%;
}
.link-button{
 text-decoration: none;
 background-color: orangered;
 font-weight: 700;
 padding:10 px 40px;
}
.top-banner{
    background-image: url(images/top-banner.png);
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
    .experience-item{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        box-shadow: 10px 10px greenyellow;
        padding-left: 20px;
        border-radius: 10px;
        border: 10px solid;
        
    }
    .experience-area{
        background-image: url(images/exp-bg.png);

    }
#web-deb-experience{
    border-left: 7px solid;
    border-image:linear-ingredient(blue green);
    border-image-slice:1;
}
.half-width{
    width: 50%;
}